<%- include('../includes/base.ejs') %>
<link rel="stylesheet" href="/home.css">
</head>
<%- include('../includes/header.ejs') %>
<main class="main">
    <% if (products.length > 0) { %>
        <% products.forEach(prods => { %>
            <div class="ModalProducts">
                <h1> <%= prods.title  %> </h1>
                <h2> <%= prods.price  %> </h2>
            </div>
            <div class="status_buttons">
                <a href="/edit-product/<%= prods._id %>?edit=true" class="btn">EDIT</a>
                <form action="/dashboard/<%= prods._id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn">DELETE</button>
                </form>
            </div>
        <% }) %>    
    <% }else { %>
    <h1 class="ModalEmpyProduct">no Products</h1>
    <% }%>
</main>
<%- include('../includes/end.ejs') %>
