<%- include('../includes/base.ejs') %>
<link rel="stylesheet" href="/forms.css">
</head>
<%- include('../includes/header.ejs') %>
    <main class="main">
        <form action="<% if (editMode) { %>/edit-product<%}else {%>/add-product<%} %>" method="POST" class="form">
            <div class="name_products">
                <input type="text" name="title" placeholder="titleProduct..." value="<% if (editMode) {%><%=products.title%><%}%>">
                <input type="number" name="price" placeholder="PriceProduct.." value="<% if (editMode) {%><%= products.price%><%}%>">
            </div>
            <div class="submitBtn">
                <button type="submit" > <% if (editMode) {%> Update <%} else {%> Add Product <%}%></button>
            </div>
            <% if (editMode) { %>
                <input type="hidden" value="<%= products._id %>" name="prodId">
                <% } %>
        </form>
    </main>
<%- include('../includes/end.ejs') %>



    
