<%- include('../includes/base.ejs') %>
<link rel="stylesheet" href="/home.css">
</head>
<%- include('../includes/header.ejs') %>
<main class="main">
    <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
                <li>
                    <p>#<%= p.prodId %> (<%= p.number %>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p.prodId %>" name="prodId">
                        <button class="btn" type="submit">Delete</button>
                      </form>
                </li>
            <% }) %>
        </ul>
        <div class="centered ">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>



    
